* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#more-arrows {
	width: 75px;
	height: 65px;
}
#more-arrows:hover polygon {
	fill: #000;
	transition: all 0.2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
	transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
	transform: translateY(18px);
}
polygon {
	fill: #000;
	transition: all 0.2s ease-out;
}
polygon.arrow-middle {
	opacity: 0.75;
}
polygon.arrow-top {
	opacity: 0.5;
}

.learn-more-button:hover > .learn-more-link {
	transform: translateX(10px);
}
